.user-info {
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #0b314f;
    font-family: "Montserrat Medium", sans-serif;
}
.info{
    margin-top: 2%;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 25px;

}
.user-info h5 ,#totalPrice,#ma-ve{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 1.5em;
    color: rgba(120, 187, 123, 0.88);
}