.container {
    padding-top: 6%;
}

.Title-Tikm-Ve {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    margin: 0 1% 0 1%;
    padding: 2%;
    color: #a55eea;
    font-size: 1.5em;
    font-family: KoHo, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
}

.table {
    border-radius: 10px;
    overflow: hidden;
    border-spacing: 5px;
}

.table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #0b314f;
}

.table th {
    text-align: center;
    border-bottom: 1px solid #0b314f;
}

.header-table th {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    text-align: center;
    border-left: 5px solid #0b314f;
}

.table td {
    border-left: 5px solid #0b314f;
    font-family: "Roboto Medium", sans-serif;
}

.table td:hover {
    background-color: rgba(165, 94, 234, 0.62);
    color: white;
    cursor: pointer;
}

.table td:focus-within, .table td:focus, .table td:active {
    background-color: #a55eea;
    color: white;
    cursor: pointer;
}

.table thead th {
    background-color: #28a745;
    color: white;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

.footer-dock {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;

}

.footer-dock .container {
    padding: 0% 0 0 0;
}

.back-btn {
    padding: 8% 5%;
    width: 80%;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
}


.back-btn:hover, back-btn:focus-within {
    background-color: #a55eea;
    color: #fff;
    border: 2px solid #fff;
}


.payment-btn {
    padding: 8% 25%;
    background-color: rgba(40, 167, 69, 0.94);
    color: #fff;
    font-weight: bold; /* Chữ tô đậm */
}

.payment-btn:hover, payment-btn:focus-within, payment-btn:focus, payment-btn:active {
    background-color: rgba(40, 167, 69, 0.94);
    color: #fff;
    border: 2px solid #fff;
}

.TongTien p {
    margin-top: 12%;
    margin-left: 5%;
    font-size: 1.5em;
    font-family: KoHo, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.info-box {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 1% 0 1%;
    padding: 2%;
    color: #a55eea;
    font-size: 1.1em;
    font-family: KoHo, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_flight {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.info_flight input[type="text"],
.info_flight input[type="email"],
.info_flight input[type="date"],
.info_flight input[type="number"] {
    padding: 10px;
    border: 1px solid #a55eea;
    border-radius: 5px;
    width: 100%;
}

.info_flight input[type="radio"] {
    margin-right: 10px;
    float: left;
}

.info_flight input[type="date"] {
    color: #a55eea;
}

.info_flight label {
    font-family: "Maven Pro SemiBold", sans-serif, sans-serif;
}

.table td.cell-focused {
    background-color: #a55eea;
    color: white;
    cursor: pointer;
}

.seat {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
}

.business {
    background-color: #ff0000; /* Màu đỏ cho ghế Business */
}

.skyboss {
    background-color: #00ff00; /* Màu xanh lá cây cho ghế SkyBoss */
}

.veluxe {
    background-color: #0000ff; /* Màu xanh dương cho ghế Veluxe */
}

.eco {
    background-color: #ffff00; /* Màu vàng cho ghế Eco */
}

.table-bordered {
    margin: 5% 0 15% 0;
    border-radius: 24px;
}